version: "3.9"

services:
  node1:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node1
    environment:
      NODE_ID: "1"
      NODE_NAME: "node1"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node2:8000,http://node3:8000,http://node4:8000,http://node5:8000,http://node6:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8001:8000"

  node2:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node2
    environment:
      NODE_ID: "2"
      NODE_NAME: "node2"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node1:8000,http://node3:8000,http://node4:8000,http://node5:8000,http://node6:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8002:8000"

  node3:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node3
    environment:
      NODE_ID: "3"
      NODE_NAME: "node3"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node1:8000,http://node2:8000,http://node4:8000,http://node5:8000,http://node6:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8003:8000"

  node4:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node4
    environment:
      NODE_ID: "4"
      NODE_NAME: "node4"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node1:8000,http://node2:8000,http://node3:8000,http://node5:8000,http://node6:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8004:8000"

  node5:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node5
    environment:
      NODE_ID: "5"
      NODE_NAME: "node5"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node1:8000,http://node2:8000,http://node3:8000,http://node4:8000,http://node6:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8005:8000"

  node6:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: node6
    environment:
      NODE_ID: "6"
      NODE_NAME: "node6"
      LEADER_ID: "1"
      LEADER_URL: "http://node1:8000"
      PEERS: "http://node1:8000,http://node2:8000,http://node3:8000,http://node4:8000,http://node5:8000"
      LEADER_PRIV_KEY: "CN01R9VLkW/X+64RtavkEcR8owmMv8mbT49nMEZd6+M="
      LEADER_PUB_KEY: "cyHY3UDNSXJrsU/eWKMut4FmTDt+cJN1zHED5MBKobI="
    ports:
      - "8006:8000"

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/alerts.yml:/etc/prometheus/alerts.yml:ro
    depends_on:
      - node1
      - node2
      - node3
      - node4
      - node5
      - node6

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning:ro
      - ./grafana/dashboards:/etc/grafana/dashboards:ro
    depends_on:
      - prometheus
